@model ErrorViewModel
@{ Context.Response.ContentType = "text/html"; }
@{
    ViewData["Title"] = "Error";
}
<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1 class="text-danger">Error:</h1>
        <h2 class="text-danger">@Model.ErrorMessage</h2>
    </body>
</html>