<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WDSiPXE.Tests.Properties.Settings.Mdt2013U1ConnectionString" connectionString="data source=C:\Users\cduck\Documents\GitHub\WDSiPXE\WDSiPXE.Tests\MdtTables\Mdt2013U1.db" providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.99.0" newVersion="1.0.99.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>