<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"></compilation>
    <httpRuntime targetFramework="4.5" />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="DeviceRepository" value="WDS"/>
    <!--
    <add key="DeviceRepository" value="AD"/>
    <add key="DeviceRepository" value="MDT"/>
    -->
    <add key="WDS.RemoteInstallPath" value="..\WDSiPXE.Tests"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="MDT" connectionString="Server=myServerName\myInstanceName;Database=myDataBase;Trusted_Connection=yes;"/>-->
  </connectionStrings>
</configuration>